/*-----block Hero-----------*/
.hero-section {
  min-width: 480px;
  min-height: 400px;
  @include flex-container(center, center);
  flex-direction: column;
  margin: 0 auto;

  background-color: $dark-bg-color;
  background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero_img.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  @media  screen and (min-width: $desktop-width) {
    width: $desktop-width;
  } 
}

.hero-section__title{
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $white-text-color;

  @media  screen and (min-width: $desktop-width) {
    font-size: 44px;
    line-height: 1.36;
    }
  } 
.hero-section__button{
  @extend %button;
  display: block;
}